<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Recommendor System</title>
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </head>
  <body style ="background : url(https://user-images.githubusercontent.com/67604006/87519530-5ec09300-c69f-11ea-9fa5-ed03babe7c2e.jpg); background-size=100% ;">
    <div class="container">
    <nav class="navbar navbar-light bg-light">
      <h3><a style="color:rgb(105, 189, 100)" class="nav-link" href="{{url_for('home')}}">Home</a></h3>
    </nav>

      <div class="jumbotron">
        {% block content %}
        {% endblock %}
      </div>

    <div class="card mb-3" style="max-width: 650px;">
      <div class="row no-gutters">
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">This project is developed by Shivam Kumar</h5>
            <p class="card-text">It is a simple movie recommendation system. You can input movies which were released on or before 2017. The dataset used is not 
              very vast. You can try inputs like Avatar,the dark knight, Iron Man,etc.  </p>
            <p>Click the link below to view my github code!</p>
            <a href="https://github.com/ShivamKumar-bit/MVRS" class="btn btn-primary" target="_blank">Github</a>
          </div>
        </div>
      </div>
    </div>
    </div>
  </body>
</html>
